@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.min-width {
    min-width: 1080px;
}
a{
    color: #000;
}
:root {
    --text-color: #2e2e2e;
    --theme-color:#0d80d2;
    --button-color:#0d80d2;
    --brand-font:'Nova Square', sans-serif;
    --text-font:'Comfortaa', sans-serif;
}
.special-button {
    background: #0d80d2;
    color: #fff;
    font-weight: 700;
    padding: 10px 16px;
    display: block;
    max-width: 180px;
    font-family: 'Nova Square', sans-serif;
    border-radius: 4px;
}
.special-button:hover {
    background: #105e95;
}
.wrapper {
    width: 95%;
    margin:0 auto;
}
#hero {
    background: rgb(255,224,239);
    background: linear-gradient(0deg, rgba(255,224,239,1) 0%, rgba(212,255,255,1) 100%);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}
header .logo {
    width: 20%;
}
header .logo h1{
    font-weight: 700;
    font-family: 'Nova Square', sans-serif;
    font-size: 30px;
}
header .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu ul li {
    margin-right: 20px;
}
header .menu ul li:last-child{
    margin-right: 0;
}
header .menu ul li a {
    font-weight: 600;
    font-size: 18px;
    font-family: 'Comfortaa', sans-serif;
    color: var(--text-color);
}
header .right-menu {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
header .right-menu a {
    font-weight: 600;
    font-size: 18px;
    font-family: 'Nova Square', sans-serif;
    margin-left: 10px;
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}
#home .left {
    width: 50%;
}
#home .left h2{
    font-size: 46px;
    font-weight: 700;
    font-family: 'Comfortaa', sans-serif;
    width: 80%;
    color: #000;
    margin-bottom: 10px;
}
#home .left p{
    width: 80%;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    font-family: 'Comfortaa', sans-serif;
    margin-bottom: 16px;
}
#home .left a {
    width: 150px;
    border-radius: 4px;
}

#home .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
#home .right .img-container {
    width: 100%;
    max-width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#home .right .img-container img{
    width: 90%;
}


#product-featuring {
    padding: 40px 0px;
}
#product-featuring .show-off {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 33px 0px;
    margin-bottom: 60px;
}
#product-featuring .show-off ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#product-featuring .show-off ul li {
    width: 100%;
    display: flex;
    justify-content: center;
}
#product-featuring .show-off ul li img {
    width: 80%;
    border-radius: 4px;
}

#product-featuring .featured-products {
    padding: 33px 0px;
}
#product-featuring .featured-products h2 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 8px;
    width: 20%;
    margin: 0 auto;
    position: relative;
}
#product-featuring .featured-products h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%; 
    height: 3px; 
    background-color: var(--theme-color);
    transform: translateX(-50%);
}
#product-featuring .featured-products ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    gap:10px;
}
#product-featuring .featured-products ul li {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    padding: 14px 0px;
    border-radius: 4px;
}
#product-featuring .featured-products ul li:hover img {
    transform: translateY(-30px);
    box-shadow: 7px 12px 14px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 12px 14px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 12px 14px -5px rgba(0,0,0,0.75);
}
#product-featuring .featured-products ul li img{
    width: 80%;
    border-radius: 4px;
    transition: all 0.5s ease;
}
#product-featuring .featured-products ul li div.content{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#product-featuring .featured-products ul li div.content h5{
    font-weight: 600;
    font-size: 16px;
    font-family: 'Nova Square', sans-serif;
    margin-bottom: 5px;
}
#product-featuring .featured-products ul li div.content h4{
    margin-bottom: 5px;
}
#product-featuring .featured-products ul li div.content span{
    color: var(--text-color);
    font-weight: 700;
    font-size: 15px;
    font-family: 'Nova Square', sans-serif;
}



#product-featuring .latest-products {
    padding: 33px 0px;
}
#product-featuring .latest-products h2 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 8px;
    width: 20%;
    margin: 0 auto;
    position: relative;
}
#product-featuring .latest-products h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%; 
    height: 3px; 
    background-color: var(--theme-color);
    transform: translateX(-50%);
}
#product-featuring .latest-products ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    gap:22px;
}
#product-featuring .latest-products ul li {
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    padding: 14px 0px;
    border-radius: 4px;
}
#product-featuring .latest-products ul li:hover img {
    transform: translateY(-30px);
    box-shadow: 7px 12px 14px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 12px 14px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 12px 14px -5px rgba(0,0,0,0.75);
}
#product-featuring .latest-products ul li img{
    width: 80%;
    border-radius: 4px;
    transition: all 0.5s ease;
}
#product-featuring .latest-products ul li div.content{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#product-featuring .latest-products ul li div.content h5{
    font-weight: 600;
    font-size: 16px;
    font-family: 'Nova Square', sans-serif;
    margin-bottom: 5px;
}
#product-featuring .latest-products ul li div.content h4{
    margin-bottom: 5px;
}
#product-featuring .latest-products ul li div.content span{
    color: var(--text-color);
    font-weight: 700;
    font-size: 15px;
    font-family: 'Nova Square', sans-serif;
}





#banner {
    padding: 80px 0px;
    background: rgb(255,224,239);
    background: linear-gradient(0deg, rgba(255,224,239,1) 0%, rgba(212,255,255,1) 100%);
}
#banner .wrapper {
    display: flex;
    align-items: center;
}
#banner .left{
    width: 50%;
}
#banner .left .img-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#banner .left .img-container img{
    width: 70%;
}
#banner .right{
    width: 50%;
}
#banner .right span{
    font-family: var(--text-font);
    margin-bottom: 26px;
    display: block;
    color: var(--text-color);
}
#banner .right h2{
    font-family: var(--brand-font);
    margin-bottom: 10px;
    font-size: 44px;
}
#banner .right p{
    font-family: var(--text-font);
    margin-bottom: 28px;
    color: var(--text-color);
}
#banner .right a{
    width: 123px;
}




#testimonials{
    padding: 80px 0px;
}
#testimonials .wrapper{
    display: flex;
    align-items: center;
}
#testimonials ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
#testimonials ul li{
    width: 25%;
    padding: 16px 14px;
    background: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.5s;
}
#testimonials ul li span.quote{
    font-size: 66px;
    font-family: var(--text-font);
    display: block;
    height: 20px;
    margin-bottom: 16px;
}
#testimonials ul li p{
    text-align: center;
    font-size: 14px;
    font-family: var(--text-font);
    margin-bottom: 14px;
    width: 80%;
}
#testimonials ul li h4{
    margin-bottom: 16px;
}
#testimonials ul li img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 18px;
}
#testimonials ul li h5{
    font-size: 16px;
    font-family: var(--brand-font);
}
#testimonials ul li:hover {
    transform: translateY(-30px);
        box-shadow: 7px 12px 14px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 12px 14px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 12px 14px -5px rgba(0,0,0,0.75);
}


#companies {
    padding: 40px 0px;
}
#companies .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
#companies .img-container{
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#companies .img-container img{
    transform: scale(0.9);
    filter: grayscale(100%);
    transition: all 0.1s ease-in-out;
}
#companies .img-container img:hover {
    filter: grayscale(0%);
    transform: scale(1.2);
}





footer{
    padding: 40px 0px 0px 0px;
    background: #1e1e1e;
}
footer .wrapper{}

footer .top{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 33px 0px;
    border-bottom: 2px solid #fff;
}
/****.one****/
footer .top .one{
    width: 25%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
    color: #fff;
}
footer .top .one h4{
    font-size: 20px;
    font-family: var(--brand-font);
    font-weight: 600;
    margin-bottom: 10px;
}
footer .top .one span{
    font-size: 14px;
    font-family: var(--text-font);
    font-weight: 500;
    margin-bottom: 16px;
    color: #838383;
}
footer .top .one .img-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
footer .top .one .img-container img{
    width: 30%;
    margin-right: 12px;
}

/****.two****/
footer .top .two{
    width: 30%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
footer .top .two h1{
    font-weight: 700;
    font-family: 'Nova Square', sans-serif;
    font-size: 48px;
    margin-bottom: 12px;
}
footer .top .two p{
    font-size: 16px;
    font-family: var(--text-font);
    color: #838383;
}
/****.three****/
footer .top .three{
    width: 15%;
    color: #fff;
}
footer .top .three ul{
    color: #fff;
    text-align: center;
}
footer .top .three ul li{
    margin-bottom: 6px;
}
li.special-heading{
    font-family: var(--brand-font);
    color: #fff;
    padding-bottom: 16px;
}
footer .top .three ul li a{
    color: #838383;
    font-family: var(--text-font);
}
/****.four****/
footer .top .four{
    width: 15%;
    color: #fff;
}
footer .top .four ul {
    color: #fff;
    text-align: center;
}
footer .top .four ul li {
    margin-bottom: 6px;
}
footer .top .four ul li a{
    color: #838383;
    font-family: var(--text-font);
}

footer .bottom{
    text-align: center;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .bottom h4{
    font-family: var(--text-font);
    color: #838383;
}